@import "template";

body {
}

#chart1 {
  width: 100%;
  height: 600px;

  .legend {
    line-height: 18px;
    color: #555;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}
.chart2-container {
  display: flex;

  #chart2 {
    flex-basis: 75%;
    height: 400px;
  }

  rect:hover {
    fill: black;
    opacity: 0.7;
  }

  #chart2-select {
    flex-basis: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;

    & .select {
      flex: 1;
      & select {
        height: 100%;
      }
    }
  }
}

#chart3 {
  width: 100%;
  height: 400px;

  rect:hover {
    fill: black;
    opacity: 0.7;
  }
}

#chart9 {
  width: 100%;
  height: 400px;
}

#chart11-container {
  #chart11 {
    width: 100%;
    height: 400px;
  }
  #chart11-2 {
    width: 100%;
    height: 400px;
  }
}

.clear-both {
  clear: both;
}

#chart12 {
  width: 100%;
  height: 400px;

  rect:hover {
    fill: black;
    opacity: 0.7;
  }
}